{% extends "layout.html" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Basket
{% endblock %}

{% block content %}
{% if basketLimitState == "below-limit" %}
{% else %}
<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      Your basket is full. 
    </p>
    <p class="govuk-body">You cannot add more than {{ basketLimit }} items to your order.
      To add more, you'll need to remove some items first.</p>
  </div>
</div>
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h1 id="page-heading" class="govuk-heading-l">Basket</h1>
    {% if not missingImageDelivery.length and not certifiedCopies.length and not certificates.length %}
      <h2 id="empty-basket-section-heading" class="govuk-heading-m">Document details</h2>
      <p id="empty-basket-message" class="govuk-body">Your basket is empty, find a company to start ordering.</p>
      {{ govukButton({
        attributes: {
          id: "find-company-button"
        },
        text: "Find a company",
        href: CHS_URL
      }) }}
    {% else %}
      {% if missingImageDelivery.length %}
        <h2 id="missing-image-delivery-section-heading" class="govuk-heading-m">Missing image requests</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            {{ govukTable({
              attributes: {
                id: "missing-image-delivery-table"
              },
              head: [
                {
                  text: "Date Filed"
                },
                {
                  text: "Type"
                },
                {
                  text: "Description"
                },
                {
                  text: "Company Number"
                },
                {
                  text: "Fee"
                },
                {
                  html: "<span class='govuk-visually-hidden'>Remove item</span>"
                }
              ],
              rows: missingImageDelivery
            }) }}
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <p class="govuk-body">It can take us several hours to check the availability of a document.
              We will aim to add it to a company's filing history that day if the request is received between 8:30am and 3pm, Monday to Friday (excluding bank holidays).</p>
            <p class="govuk-body">If you make a request after 3pm, we will add the document the next working day.</p>
          </div>
        </div>
      {% endif %}
      {% if certifiedCopies.length or certificates.length %}
        <h2 id="deliverable-items-section-heading" class="govuk-heading-m">For delivery</h2>
      {% endif %}
      {% if certifiedCopies.length %}
        <h2 id="certified-documents-section-heading" class="govuk-heading-m">Certified documents</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            {{ govukTable({
              attributes: {
                id: "certified-documents-table"
              },
              head: [
                {
                  text: "Date Filed"
                },
                {
                  text: "Type"
                },
                {
                  text: "Description",
                  classes: "govuk-!-width-one-half"
                },
                {
                  text: "Company Number"
                },
                {
                  text: "Dispatch method"
                },
                {
                  text: "Fee"
                },
                {
                  html: "<span class='govuk-visually-hidden'>Remove item</span>"
                }
              ],
              rows: certifiedCopies
            }) }}
          </div>
        </div>
      {% endif %}
      {% if certificates.length %}
        <h2 id="certificates-section-heading" class="govuk-heading-m">Certified certificates</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            {{ govukTable({
                attributes: {
                  id: "certificates-table"
                },
                head: [
                  {
                    text: "Certificate type"
                  },
                  {
                    text: "Company number"
                  },
                  {
                    text: "Dispatch method"
                  },
                  {
                    text: "Fee"
                  },
                  {
                    html: "<span class='govuk-visually-hidden'>View/Change Certificate</span>"
                  },
                  {
                    html: "<span class='govuk-visually-hidden'>Remove item</span>"
                  }
                ],
                rows: certificates
              }) }}
          </div>
        </div>
      {% endif %}
      {% if certificates.length or certifiedCopies.length %}
        {% if deliveryDetailsTable %}
          <h2 id="delivery-details-section-heading" class="govuk-heading-m">Delivery details</h2>
          {{ govukSummaryList({
            attributes: {
              id: "delivery-details-list"
            },
            rows: deliveryDetailsTable
          }) }}
        {% endif %}
      {% endif %}
      {% if certificates.length or certifiedCopies.length %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h2 id="dispatch-information-heading" class="govuk-heading-m">Dispatch information</h2>
            {% if hasSameDayDelivery %}
            <p class="govuk-body">Express orders received before 11am will be sent out the same day. Orders received after 11am will be sent out the next working day.</p>
            {% endif %}
            {% if hasStandardDelivery %}
            <p class="govuk-body">For standard delivery we aim to send your items within 10 working days.</p>
            {% endif %}
          </div>
        </div>
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-heading-l">
          Total £{{ totalItemCost }}
        </div>
      </div>
      <div class="govuk-grid-row">
        {% if isDeliveryAddressPresentForDeliverables %}
        <div class="govuk-grid-column-one-quarter">
            {{ govukButton({
              attributes: {
                "data-event-id": "add-delivery-details",
                id: "submit"
              },
              text: "Add delivery details",
              href: DELIVERY_DETAILS_WEB_URL
            }) }}
        </div>
        {% else %}
        <div class="govuk-grid-column-one-quarter">
          <form method="post">
            {{ govukButton({
              attributes: {
                "data-event-id": "continue-to-payment",
                id: "submit"
              },
              text: "Continue to payment"
            }) }}
          </form>
        </div>
        {% endif %}
        <div class="govuk-grid-column-one-quarter">
          {{ govukButton({
            attributes: {
              "data-event-id": "add-another-document",
              id: "add-another-document"
            },
            text: "Add another document",
            classes: "govuk-button--secondary",
            href: CHS_URL
          }) }}
        </div>
      </div>
    {% endif %}
    </div>
  </div>
{% endblock %}
