{% extends "layout.html" %}

{% block pageTitle %}
  Certificate ordered confirmation
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Return to company overview",
    href: "/company/" + itemDetails.companyNumber
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Certificate ordered",
        html: "Your order reference number<br><strong id='orderReference' aria-label='"+ orderDetails.referenceNumberAriaLabel + "'>" + orderDetails.referenceNumber + "</strong>"
      }) }}
      <h1 class="govuk-heading-m">What happens next</h1>
      <p class="govuk-body">We'll prepare the certificate and aim to dispatch it within 4 working days.</p>
      {{ govukInsetText({
        html: "<p class='govuk-body govuk-!-font-weight-bold'>You will not be sent an email confirmation of this order.</p> 

        <ul class='govuk-list'>
        <li>
          <img src='/orders-assets/static/images/print-icon.png'  alt='print icon'/>
          <a class='govuk-link' href='javascript:window.print()'>
            Print your order confirmation
          </a> 
        </li>
      </ul>"

      }) }}
      <h2 class="govuk-heading-m">Your order details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Company name",
              classes: 'govuk-!-width-one-half'
            },
            value: {
              classes: 'govuk-!-width-one-half',
              html: "<p id='companyNameValue'>" + itemDetails.companyName + "</p>"
            }
          },
          {
            key: {
              text: "Company number"
            },
            value: {
              classes: 'govuk-!-width-one-half',
              html: "<p id='companyNumberValue'>" + itemDetails.companyNumber + "</p>"
            }
          },
          {
            key: {
              text: "Certificate type",
              classes: 'govuk-!-width-one-half'
            },
            value: {
              classes: 'govuk-!-width-one-half',
              html: "<p id='certificateTypeValue'>" + certificateDetails.certificateType + "</p>"
              
            }
          },
          {
            key: {
              text: "Included on certificate"
            },
            value: {
              classes: 'govuk-!-width-one-half',
              html: "<p id='includedOnCertificateValue'>" + certificateDetails.includedOnCertificate + "</p>"
            }
          },
          {
            key: {
              text: "Delivery method"
            },
            value: {
               classes: 'govuk-!-width-one-half',
               html: "<p id='deliveryMethodValue'>" + deliveryDetails.deliveryMethod + "</p>"
            }
          },
          {
            key: {
              text: "Delivery details"
            },
            value: {
               classes: 'govuk-!-width-one-half',
               html: "<p id='deliveryAddressValue'>" + deliveryDetails.address + "</p>"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Your payment details</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Amount paid",
              classes: 'govuk-!-width-one-half'
            },
            value: {
              classes: 'govuk-!-width-one-half',
              html: "<p id='paymentAmountValue'>" + paymentDetails.amount + "</p>"
            }
          },
          {
            key: {
              text: "Payment reference"
            },
            value: {
              classes: 'govuk-!-width-one-half',
              html: "<p id='paymentReferenceValue'>" + paymentDetails.paymentReference + "</p>"
            }
          },
          {
            key: {
              text: "Date and time of payment"
            },
            value: {
              classes: 'govuk-!-width-one-half',
              html: "<p id='paymentTimeValue'>" + paymentDetails.orderedAt + "</p>"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">How to contact us</h2>
      <p class="govuk-body">Email <a href="mailto:enquiries@companieshouse.gov.uk" class="govuk-link">enquiries@companieshouse.gov.uk</a> if you have questions about your order.</p>
      <p class="govuk-body">Include your order reference number when you contact us. </p>
    </div>
  </div>
{% endblock %}