// our variable overrides
@import "variables";

// the govuk frontend
@import "../node_modules/govuk-frontend/govuk/all";

.removeItem {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #1d70b8;
    text-decoration: underline;
    cursor: pointer;
    font-size: 19px;
}

.removeItem:hover {
    color: #003078;
}

.sign-out-link {
    display: block;
    float: right;
}

.sign-out-divider {
    clear: right;
}
